.styled-input-single {
  position: relative;
  padding: 20px 0 20px 40px;
  text-align: left;
  label {
    cursor: pointer;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      border-radius: 50%;
    }
    &:before {
      left: 0;
      width: 30px;
      height: 30px;
      margin: -15px 0 0;
      background: #f7f7f7;
      box-shadow: 0 0 1px grey;
    }
    &:after {
      left: 5px;
      width: 20px;
      height: 20px;
      margin: -10px 0 0;
      opacity: 0;
      background: #37b2b2;
      transform: translate3d(-40px, 0, 0) scale(0.5);
      transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    }
  }
  input[type="radio"], input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    border:
    visibility: hidden;
    &:checked+label {
      &:before {}
      &:after {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
}

.styled-input--square {
  label {
    &:before, &:after {
      border-radius: 0;
    }
  }
}

.styled-input--rounded {
  label {
    &:before {
      border-radius: 10px;
    }
    &:after {
      border-radius: 6px;
    }
  }
}

.styled-input--diamond {
  .styled-input-single {
    padding-left: 45px;
  }
  label {
    &:before, &:after {
      border-radius: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
  }
  input[type="radio"], input[type="checkbox"] {
    &:checked+label {
      &:after {
        transform: rotate(45deg);
        opacity: 1;
      }
    }
  }
}
