/******************************************
    File Name: custom.css
    Template Name: YourJob
    Created By: PSD Convert HTML Team
    Envato Profile: http://themeforest.net/user/psdconverthtml
    Website: https://psdconverthtml.com
    Version: 1.0
    Support: support@psdconverthtml.com
/******************************************/

/* @import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,500i,700&subset=latin-ext';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900'; */

@import url('https://fonts.googleapis.com/css?family=Poppins');

.topbar {
    padding: 10px 0;
}

.topbar p {
    padding: 0;
    margin: 0;
}

.topbar ul {
    margin-bottom: 0;
}

.topbar a,
.topbar p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
}

.topbar .fa-envelope-o,
.topbar .fa-phone {
    padding-right: 4px;
}

.customform,
.pricing-box h3 {
    background-color: #232323;
}

.customform {
    border-color: #313131;
}

.topbar .social-small li .fa {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
}

.reviewwrapper blockquote {
    background-color: #f3f6f9 !important;
}

.featured::before,
.freelancer-wrap .btn::before {
    border-color: #0a619a transparent transparent #0a619a;
}

.sidebar .submit-form .form-control {
    background-color: #313131;
}

.customwidget hr {
    background-color: #1a1a1a;
}

.customwidget,
.testimonials blockquote,
.pricing-price p,
.db,
.topbar,
.footer {
    background-color: #2f2a2c;
}

.homehero {
    padding: 12em 0 5em;
}

.home-message h1 {
    font-size: 32px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.svg-wrapper {
    overflow: hidden;
    position: relative;
    transform: translateY(-50%);
    margin: 0 auto;
}

.shape {
    stroke-dashoffset: -474;
    stroke-width: 3px;
    fill: transparent;
    stroke: #fca22c;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s
}

.ttext {
    position: relative;
    top: 64px
}

.svg-wrapper:hover .shape {
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760
}

.homehero .btn-custom:hover,
.homehero .btn-custom:focus,
.homehero .btn-custom {
    -moz-osx-font-smoothing: auto;
    background-color: #fca22c !important;
    border: 0 none;
    box-sizing: border-box;
    color: #ffffff !important;
    cursor: pointer;
    border-radius: 0 !important;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 12px 5px;
    padding: 15px 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.home-message p {
    color: #5d5d5d;
    font-size: 18px;
    font-style: italic;
    line-height: 1.8;
    margin: 0;
    padding: 20px 0;
}

.stickyfooter {
    position: relative;
    background: #1e1e1e !important;
}

.navbar-right .dropdown-menu::after,
.yamm-half .dropdown-menu::after {
    left: 10%;
}

.section-title hr {
    margin: 0 auto 20px;
    width: 80px;
    border-width: 3px;
}

.lead {
    font-size: 16px;
}

.bootstrap-select .dropdown-menu,
.navbar .dropdown-menu {
    border: 0;
    padding: 5px !important;
}
.navbar-right .dropdown-menu > li,
.bootstrap-select .dropdown-menu > li,
.navbar .dropdown-menu > li {
    padding: 4px 10px !important;
    border-bottom: 1px solid #ededed !important;
    background-color: transparent !important;
}


.navbar-right .dropdown-menu > li a,
.bootstrap-select .dropdown-menu > li a,
.navbar .dropdown-menu > li a {
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}

.bootstrap-select .dropdown-menu > li:last-child,
.navbar .dropdown-menu > li:last-child {
    border-bottom: 0 !important;
}
.navbar-right .dropdown-menu > li > a,
.bootstrap-select .dropdown-menu > li > a,
.navbar .dropdown-menu > li > a {
    clear: both;
    color: #333 !important;
    background-color: transparent;
    display: block;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 1.42857;
    padding: 0;
    white-space: nowrap;
}
.navbar-right .dropdown-menu > li > a span {
    color: #aaa !important;
}

#wrapper {
    padding-bottom: 0;
}

#sitefooter-wrap {
    padding: 30px 0 20px !important;
}

.job-meta p,
.cart-body .panel-info > .panel-heading,
.submit-form label,
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li:hover a,
.nav-pills > li:focus a,
.service-list i,
.dropdown-header,
.header .nav-tabs > li > a,
a,
h1,
h2,
h3,
h4,
h5,
h6,
.navbar-default .navbar-nav > li > a {
    color: #232323;
}

.lb .page-title h1,
.wb .page-title h1,
.pagination > li > a,
.pagination > li > span,
li.dropdown.membermenu a.dropdown-toggle:focus,
li.dropdown.membermenu a.dropdown-toggle:hover,
li.dropdown.membermenu a.dropdown-toggle,
.navbar-brand.with-text {
    color: #232323 !important;
}


/******************************************
    FONTS
******************************************/

body,
li,
p {
    font-family: 'Poppins', sans-serif;
    font-weight: normal !important;
}

.cart-body .panel-info > .panel-heading,
.portfolio-filter li,
.readmore,
.nav-pills > li > a,
.dropdown-header,
.loadmorebutton .btn,
.with-text,
h1,
h2,
h3,
h4,
h5,
h6,
.page-title h1,
.section-title h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold !important;
}

.topbar p,
.btn,
.pager a,
.contact-details li,
.item-price small a,
.customwidget li,
.pricing-price p,
.testimonials blockquote p,
.tooltip-inner,
.stickyfooter p,
.stickyfooter li,
.btn-primary,
.navbar-default .navbar-nav > li > a,
.freelancer-list .badge,
.customform .btn-group-vertical > .btn,
.customform .btn-group > .btn,
.customform .form-control,
.submit-form .form-control,
.clients-name,
.blog-meta li a,
.lead,
small,
.home-title p,
.job-meta p,
.company-links li a,
.job-tab small {
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
}