﻿<!-- <div class="section db">
        <div class="container">
            <div class="page-title text-center">
                <div class="heading-holder">
                    <h1>Contact us</h1>
                </div>
                <p class="lead">If you have pre-sale questions please contact with us.</p>
            </div>
        </div>
    </div> -->

    <div class="section lb" style="padding-top:20px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="post-padding">
                        <div id="map"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="content col-md-8">
                    <div class="post-padding">
                        <div class="content-title">
                            <h4>Contact Form</h4>
                            <hr>
                        </div><!-- end widget-title -->

                        <p>Remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                        <hr class="invis">

                        <form id="submit" class="submit-form">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <label class="control-label">Your Name</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label class="control-label">Your Email</label>
                                    <input type="email" class="form-control" placeholder="">
                                </div>
                            </div><!-- end row -->

                            <hr class="invis">

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <label class="control-label">Phone</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label class="control-label">Subject</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div><!-- end row -->

                            <hr class="invis">

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <label class="control-label">Website</label>
                                    <input type="text" class="form-control" placeholder="http://">
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label class="control-label">Select Department</label>
                                    <select class="selectpicker" data-style="btn-default" data-live-search="true">
                                        <option>Support</option>
                                        <option>Buying Support</option>
                                        <option>Selling Support</option>
                                        <option>Your Account</option>
                                        <option>Copyrights</option>
                                        <option>Of Topic</option>
                                    </select>  
                                </div>
                            </div><!-- end row -->

                            <hr class="invis">

                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <label class="control-label">Your Message</label>
                                    <textarea class="form-control" placeholder=""></textarea>
                                </div>
                            </div><!-- end row -->

                            <button class="btn btn-custom">Submit Form</button>
                        </form>
                    </div><!-- end post-padding -->
                </div><!-- end col -->

                <div class="sidebar col-md-4">
                    <div class="widget clearfix">
                        <div class="postpager liststylepost">
                            <ul class="post-blog">
                                <li>
                                    <div class="post">
                                        <a href="job-single.htm">
                                            <h4>Post Your Resume</h4>
                                        </a>
                                        <div class="blog-meta clearfix">
                                            <small>Recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</small>
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="post">
                                        <a href="job-single.htm">
                                            <h4>Post Job Now</h4>
                                        </a>
                                        <div class="blog-meta clearfix">
                                            <small>Recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</small>
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="post">
                                        <a href="job-single.htm">
                                            <h4>Create An Account</h4>
                                        </a>
                                        <div class="blog-meta clearfix">
                                            <small>Recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</small>
                                        </div>
                                    </div>  
                                </li>
                            </ul>   
                        </div><!-- end postpager -->
                    </div><!-- end widget -->

                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h4>Contact Details</h4>
                        </div><!-- end widget-title -->
                        <ul class="contact-details">
                            <li><a href="#"><i class="fa fa-phone"></i> +90 264 987 66 55</a></li>                                             
                            <li><a href="#"><i class="fa fa-fax"></i> +90 264 987 66 54</a></li>                                             
                            <li><a href="#"><i class="fa fa-envelope-o"></i> support@yoursite.com</a></li>                                             
                            <li><a href="#"><i class="fa fa-link"></i> www.yoursite.com</a></li>                                             
                        </ul>
                    </div><!-- end widget -->

                </div><!-- end col -->
            </div><!-- end row -->  
        </div><!-- end container -->
    </div><!-- end section -->

   <script>

    /* ==============================================
    MAP -->
    =============================================== */
    
    var locations=[ ['<div class="infobox"><h3 class="title"><a href="#">OUR USA OFFICE</a></h3><span>NEW YORK CITY 2045 / 65</span><span>+90 555 666 77 88</span></div>',
    52.370216,
    4.895168,
    2]];
    var map=new google.maps.Map(document.getElementById('map'), {
        zoom: 11, scrollwheel: false, navigationControl: true, mapTypeControl: false, scaleControl: false, draggable: true, styles: [ {
            "featureType": "administrative", "elementType": "labels.text.fill", "stylers": [{"featureType":"poi.business","elementType":"geometry.fill","stylers":[{"visibility":"on"}]}]
        }
        ], center: new google.maps.LatLng(52.370216, 4.895168), mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    
    );
    var infowindow=new google.maps.InfoWindow();
    var marker,
    i;
    for (i=0;
    i < locations.length;
    i++) {
        marker=new google.maps.Marker( {
            position: new google.maps.LatLng(locations[i][1], locations[i][2]), map: map, icon: 'images/location.png'
        }
        );
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
        }
        )(marker, i));
    }
   </script>