﻿<div class="section wb" style="padding-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="service-tab">
                        <div class="post-media">
                            <a href="#"><img src="upload\service_01.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="service-title">
                            <h4><a href="#">Web Design Services</a></h4>
                            <small><a href="#">Read More</a></small>
                        </div>
                    </div><!-- end service-tab -->
                </div><!-- end col -->

                <div class="col-sm-3 col-xs-12">
                    <div class="service-tab">
                        <div class="post-media">
                            <a href="#"><img src="upload\service_02.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="service-title">
                            <h4><a href="#">Web Development</a></h4>
                            <small><a href="#">Read More</a></small>
                        </div>
                    </div><!-- end service-tab -->
                </div><!-- end col -->

                <div class="col-sm-3 col-xs-12">
                    <div class="service-tab">
                        <div class="post-media">
                            <a href="#"><img src="upload\service_03.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="service-title">
                            <h4><a href="#">Graphic Design</a></h4>
                            <small><a href="#">Read More</a></small>
                        </div>
                    </div><!-- end service-tab -->
                </div><!-- end col -->

                <div class="col-sm-3 col-xs-12">
                    <div class="service-tab">
                        <div class="post-media">
                            <a href="#"><img src="upload\service_05.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="service-title">
                            <h4><a href="#">Seo Marketing</a></h4>
                            <small><a href="#">Read More</a></small>
                        </div>
                    </div><!-- end service-tab -->
                </div><!-- end col -->
            </div><!-- end row -->

            <hr class="invis hidden-xs">

            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="service-tab">
                        <div class="post-media">
                            <a href="#"><img src="upload\service_04.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="service-title">
                            <h4><a href="#">Material Design</a></h4>
                            <small><a href="#">Read More</a></small>
                        </div>
                    </div><!-- end service-tab -->
                </div><!-- end col -->

                <div class="col-sm-3 col-xs-12">
                    <div class="service-tab">
                        <div class="post-media">
                            <a href="#"><img src="upload\service_06.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="service-title">
                            <h4><a href="#">Article Writing</a></h4>
                            <small><a href="#">Read More</a></small>
                        </div>
                    </div><!-- end service-tab -->
                </div><!-- end col -->

                <div class="col-sm-3 col-xs-12">
                    <div class="service-tab">
                        <div class="post-media">
                            <a href="#"><img src="upload\service_07.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="service-title">
                            <h4><a href="#">Responsive Design</a></h4>
                            <small><a href="#">Read More</a></small>
                        </div>
                    </div><!-- end service-tab -->
                </div><!-- end col -->

                <div class="col-sm-3 col-xs-12">
                    <div class="service-tab">
                        <div class="post-media">
                            <a href="#"><img src="upload\service_08.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="service-title">
                            <h4><a href="#">Make Money Online</a></h4>
                            <small><a href="#">Read More</a></small>
                        </div>
                    </div><!-- end service-tab -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div class="section lb">
        <div class="container">
            <div class="row service-list">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="widget clearfix">
                        <i class="fa fa-briefcase"></i>
                        <div class="widget-title">
                            <h3>Best Multi-Tier Jobs</h3>
                            <hr>
                        </div><!-- end title -->
                        <p>This is a professional responsive HTML5 job listing, job board and freelancer website template. </p>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="widget clearfix">
                        <i class="fa fa-area-chart"></i>
                        <div class="widget-title">
                            <h3>Buy / Sell Jobs</h3>
                            <hr>
                        </div><!-- end title -->
                        <p>This is a professional responsive HTML5 job listing, job board and freelancer website template. </p>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="widget clearfix">
                        <i class="fa fa-arrows"></i>
                        <div class="widget-title">
                            <h3>Multi Purpose Dashboard</h3>
                            <hr>
                        </div><!-- end title -->
                        <p>This is a professional responsive HTML5 job listing, job board and freelancer website template. </p>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="widget clearfix">
                        <i class="fa fa-braille"></i>
                        <div class="widget-title">
                            <h3>Easy to Use Video Panels</h3>
                            <hr>
                        </div><!-- end title -->
                        <p>This is a professional responsive HTML5 job listing, job board and freelancer website template. </p>
                    </div><!--widget -->
                </div><!-- end col -->
            </div>

            <hr class="invis">

            <div class="row service-list">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="widget clearfix">
                        <i class="fa fa-american-sign-language-interpreting"></i>
                        <div class="widget-title">
                            <h3>Beautiful Shortcodes</h3>
                            <hr>
                        </div><!-- end title -->
                        <p>This is a professional responsive HTML5 job listing, job board and freelancer website template. </p>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="widget clearfix">
                        <i class="fa fa-html5"></i>
                        <div class="widget-title">
                            <h3>HTML5 & CSS3</h3>
                            <hr>
                        </div><!-- end title -->
                        <p>This is a professional responsive HTML5 job listing, job board and freelancer website template. </p>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="widget clearfix">
                        <i class="fa fa-wordpress"></i>
                        <div class="widget-title">
                            <h3>WordPress Soon!</h3>
                            <hr>
                        </div><!-- end title -->
                        <p>This is a professional responsive HTML5 job listing, job board and freelancer website template. </p>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="widget clearfix">
                        <i class="fa fa-binoculars"></i>
                        <div class="widget-title">
                            <h3>Powerful Search Forms</h3>
                            <hr>
                        </div><!-- end title -->
                        <p>This is a professional responsive HTML5 job listing, job board and freelancer website template. </p>
                    </div><!--widget -->
                </div><!-- end col -->
            </div>
        </div><!-- end container -->
    </div><!-- end section -->