
<style>
  td {
    text-align: left !important;
  }
  .wallpapered {
    position: relative;
}
.wallpapered .background {
  position: absolute;
  top: 7px;
  left: 23px;
  background: #f19864fa;
  min-width: 200px;
  padding-left: 5px;
  padding-right: 5px;
}
.wallpapered .input-group {
  display: none;
}
</style>
<div class="container" id="clientProjectViewContainer" ng-controller="ClientprojectviewController" ng-init="applyCandidate();getprojectdetails()">

  <div class="row">
    <div class="col-sm-12">
      <div class="card-box">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-2 text-center">
                <img src="assets\images\small\img1.jpg" alt="image" class="img-fluid rounded bx-shadow" width="200">
                <!--<p class="m-t-15 m-b-0">
                                    <code>.rounded</code>
                                </p>-->
              </div>
              <div class="col-sm-6 text-left">
                <h3><a id="prjnm" href onclick="show_divProjectDescription()"></a></h3>
                <h5 id="projdt"></h5>
                <p id="description" style="height: 150px; overflow-x: auto" class="text-muted m-b-15 font-13">
                </p>
              </div>

              <div class="col-sm-4 text-center">
                <div class="row">
                  <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-info btn-rounded waves-effect waves-light" style="width: 100%">Assignment Files</button>
                  </div>
                  <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-info btn-rounded waves-effect waves-light" style="width: 100%" onclick="Show_divInvoiceBilling()">Invoice & Billing</button>
                  </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="row">
                  <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-success btn-rounded waves-effect waves-light" style="width: 100%" onclick="Show_divMilestoneStatus()">Milestone Status</button>
                  </div>
                  <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-success btn-rounded waves-effect waves-light" style="width: auto">Assignment Status</button>
                  </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="row">
                  <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-pink btn-rounded waves-effect waves-light" style="width: 100%">Dispute</button>
                  </div>
                  <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-pink btn-rounded waves-effect waves-light" style="width: 100%">Message</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="Div_ShowProjectDescription" ng-show="NoOfCandidate==false">
    <div class="col-sm-12">
      <div class="card-box">
        <p>No AssignmentSeeker have applied for this Assignment </p>
      </div>
    </div>
  </div>
  <!-- Wizard with Validation -->
  <div class="row" id="Div_ShowProjectDescription" ng-show="NoOfCandidate==true">
    <div class="col-sm-12">
      <div class="card-box">
        <form id="wizard-validation-form" action="#">
          <div>
            <h3>Select Service Provider</h3>
            <section>
              <div class="row">
                <div class="col-sm-12">
                  <div class="card-box">
                    <h4 class="header-title m-t-0 text-center"><b>List Of Bidders</b></h4>
                    <div class="table-responsive">
                      <table id="datatable" class="table table-hover mails m-0 table table-actions-bar">
                        <thead>
                          <tr>
                            <th>Select</th>
                            <th>Service Provider Name</th>
                            <th>Company</th>
                            <th>Action</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="active" ng-repeat="x in ApplyCandiateList">
                            <td>
                              <div class="radio-inline">
                                <input type="radio" ng-disabled="step1Completed" ng-model="selectedBidder.UserID" value="{{x.UserID}}" style="border:none;" name="radio-set-1" id="radio-{{x.UserID}}" />
                                <label for="radio-example-one" style="display: none;">&nbsp;</label>
                              </div>
                            </td>
                            <td>
                              <span ng-show="x.AuthorizedPersonName!=''">
                                {{x.AuthorizedPersonName}}
                              </span>
                              <span ng-show="x.UserName!=''">
                                {{x.UserName}}
                              </span>
                            </td>

                            <td>
                              {{x.CompanyName}}
                            </td>
                            <td>
                              <button type="button" class="btn btn-info btn-rounded waves-effect waves-light" style="font-size: 14px" title="View Details" ng-click="showServiceProviderDetail(x)">
                                View Details
                              </button>
                            </td>
                            <td>
                              <span class="label label-pink" style="font-size: 14px"><i class="ion-social-usd"></i>{{x.BiddAmount}}/Day</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <h3>Contract Documentations</h3>
            <section>
              <div class="row">
                <div class="col-sm-12">
                  <div class="card-box">
                    <h4 class="header-title m-t-0"><b>Instructions</b></h4>
                    <p>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                      felis in faucibus.
                    </p>
                    <div class="clearfix">&nbsp;</div>

                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-sm-6 text-center">
                          <h5 class="header-title m-t-0"><b>Sign</b></h5>
                          <div class="row">
                            <div class="col-md-12 text-center">
                              <button type="button" ng-click="showTermsNConditionModal()" class="btn btn-info btn-rounded waves-effect waves-light" style="width: 50%">Terms & Conditions</button>
                            </div>
                          </div>
                          <div class="clearfix">&nbsp;</div>
                          <div class="row">
                            <div class="col-md-12 text-center">
                              <button type="button" ng-click="showProjectContractModal()" class="btn btn-success btn-rounded waves-effect waves-light" style="width: 50%">Contract Documentation</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <h5 class="header-title m-t-0"><b>Sign & upload other documents to other party</b></h5>
                          <div class="row">
                            <div class="col-md-12" style="padding-left: 27%">
                              <input type="file" name="selectedFile" file-model="selectedFile" class="btn btn-info btn-rounded waves-effect waves-light" data-input="false">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <h3>Project</h3>
            <section>
              <div id="firechat-wrapper"></div>
              <div class="col-lg-12 col-xl-12">
                <div class="card-box">
                  <div class="chat-conversation">
                    <ul class="conversation-list nicescroll" tabindex="5001" style="overflow: visible; height: auto !important; outline: none;" id="add-chat-message">
                      <!--<li class="clearfix">
                        <div class="chat-avatar">
                          <img src="assets\images\users\avatar-3.jpg" alt="male">
                          <i>10:00</i>
                        </div>
                        <div class="conversation-text" style="width: 90%">
                          <div class="ctext-wrap">
                            <i>Client</i>
                            <p>
                              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                            </p>
                            <p>Sept 09, 2017</p>
                          </div>
                        </div>
                      </li>
                      <hr />
                      <li class="clearfix">
                        <div class="chat-avatar">
                          <img src="assets\images\users\avatar-3.jpg" alt="male">
                          <i>10:01</i>
                        </div>
                        <div class="conversation-text" style="width: 90%">
                          <div class="ctext-wrap">
                            <i>Service Provider</i>
                            <p>
                              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                            </p>
                            <p>Sept 09, 2017</p>
                          </div>
                        </div>
                      </li>-->
                      <!--<li class="clearfix odd">
                                                <div class="chat-avatar">
                                                    <img src="assets\images\users\avatar-5.jpg" alt="male">
                                                    <i>10:02</i>
                                                </div>
                                                <div class="conversation-text" style="width: 90%">
                                                    <div class="ctext-wrap">
                                                        <i>Smith</i>
                                                        <p>
                                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                                                        </p>
                                                        <p>Sept 09, 2017</p>
                                                    </div>
                                                </div>
                                            </li>-->
                    </ul>

                    <hr />

                    <div class="row">
                      <div class="col-md-12 wallpapered">
                        <textarea class="form-control" placeholder="Type your message here.." ng-model="messageContent" id="btn-input"></textarea>
                        <div class="background">{{chatSelectedFileName}}</div>
                        <label class="pull-left">0/2500</label>
                        <label class="pull-left" id="file-upload-chat" style="font-size: 16px; margin-left: 25px"><i class="ion-paperclip"></i></label>
                        <input type="file" name="chatSelectedFile" id="chatSelectedFile" file-model="chatSelectedFile" class="pull-left btn btn-info btn-rounded waves-effect waves-light" data-input="false">
                        <button type="button" class="btn btn-info btn-rounded waves-effect waves-light pull-right" style="margin-top: 10px" id="btn-chat">Send</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <h3>Completion</h3>
            <section>
              <div class="row">
                <div class="col-sm-12">
                  <div class="card-box">
                    <div class="text-center">
                      <h4 class="header-title m-t-0"><b>Assignment Completed Successfully</b></h4>
                      <p>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                        felis in faucibus.
                      </p>
                    </div>
                    <div class="clearfix">&nbsp;</div>

                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-sm-6 text-center">
                          <h4 class="m-t-0 m-b-20 header-title text-center"><b>Deliverable from service provider</b></h4>
                          <div class="table-responsive">
                            <table id="datatable1" class="table table-hover mails m-0 table table-actions-bar">
                              <thead>
                                <tr style="display: none">
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="active" ng-repeat="file in selectedBidder.step4DocumentsByAssignmentSeekar">
                                  <td>
                                    <img src="assets\images\users\avatar-2.jpg" alt="contact-img" title="contact-img" class="rounded-circle thumb-sm">
                                  </td>
                                  <td>
                                    {{file.fileName}}
                                  </td>
                                  <td>
                                    <a href="PHP/{{file.filePath}}" target="_blank" class="table-action-btn btn-info" title="Download"><i class="ion-ios-download"></i></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="col-sm-6 text-center">
                          <h4 class="m-t-0 m-b-20 header-title text-center"><b>Assignment History</b></h4>
                          <div class="col-sm-12 text-center">
                            <div class="row">
                              <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-info btn-rounded waves-effect waves-light" style="width: 50%">Assignment Details</button>
                              </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row">
                              <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-success btn-rounded waves-effect waves-light" style="width: 50%">Assignment Milestones</button>
                              </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row">
                              <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-success btn-rounded waves-effect waves-light" style="width: 50%">Invoices</button>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix">&nbsp;</div>
                          <div class="col-sm-12 text-center">
                            <div class="row">
                              <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-info btn-rounded waves-effect waves-light" style="width: 50%">Raise Despute</button>
                              </div>
                              <!--<div class="col-md-6 text-center">
                                <button type="button" class="btn btn-pink btn-rounded waves-effect waves-light" style="width: 100%">Complete Project</button>
                              </div>-->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Project  MilestoneStatus -->
  <div class="row" id="div_ShowProjectMilestoneStatus" style="display:none">
    <div class="col-md-12">
      <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-success">
            <i class="ion-bookmark"></i>
          </div>
          <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h3>Milestone One</h3>
            <hr/>
            <p>
              <h5>MilestoneName</h5>
              <h5>MilestoneBudget</h5>
              <h5>MilestoneStatus</h5>
            </p>
            <span class="cd-date">MilestoneDate</span>
          </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-danger">
            <i class="ion-thumbsup"></i>
          </div>
          <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h3>Timeline Event Two</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
            <button type="button" class="btn btn-primary btn-rounded waves-effect waves-light m-t-15">See more detail</button>

            <span class="cd-date">May 30</span>
          </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-info">
            <i class="ion-ios-star"></i>
          </div>
          <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h3>Timeline Event Three</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis.
              Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat ... <a href="#">Read more</a></p>
            <span class="cd-date">Jun 05</span>
          </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-pink">
            <i class="ion-image"></i>
          </div>
          <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h3>Timeline Event Four</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
            <img src="assets\images\small\img1.jpg" alt="">
            <span class="cd-date">Jun 14</span>
          </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-warning">
            <i class="ion-edit"></i>
          </div>
          <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h3>Timeline Event Five</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
            <button type="button" class="btn btn-primary btn-rounded waves-effect waves-light m-t-15">See more detail</button>
            <span class="cd-date">Jun 18</span>
          </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-primary">
            <i class="ion-paperclip"></i>
          </div>
          <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h3>Timeline Event End</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis.
              Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi
              quis fugiat aliquam sunt similique aut adipisci.</p>
            <span class="cd-date">Jun 30</span>
          </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->
      </section>
      <!-- cd-timeline -->
    </div>
  </div>
  <!-- Row -->


  <!-- Invoice and Billing -->
  <div class="row" id="div_ShowProjectInvoiceBilling" style="display:none">
    <div class="col-md-12">
      <div class="card-box">
        <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
        <div class="panel-body">
          <div class="clearfix">

            <div class="pull-right">
              <h4 class="font-16">Invoice # <br>
                                <strong>2015-04-23654789</strong>
                            </h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">


              <div class="pull-Left m-t-30">
                <p><strong>Order Date: </strong> Jun 15, 2015</p>
                <p class="m-t-10"><strong>Order Status: </strong> <span class="label label-pink">Pending</span></p>
                <p class="m-t-10"><strong>Order ID: </strong> #123456</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table m-t-30">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Item</th>
                      <th>Description</th>
                      <th>Quantity</th>
                      <th>Unit Cost</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>LCD</td>
                      <td>Lorem ipsum dolor sit amet.</td>
                      <td>1</td>
                      <td>$380</td>
                      <td>$380</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Mobile</td>
                      <td>Lorem ipsum dolor sit amet.</td>
                      <td>5</td>
                      <td>$50</td>
                      <td>$250</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>LED</td>
                      <td>Lorem ipsum dolor sit amet.</td>
                      <td>2</td>
                      <td>$500</td>
                      <td>$1000</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>LCD</td>
                      <td>Lorem ipsum dolor sit amet.</td>
                      <td>3</td>
                      <td>$300</td>
                      <td>$900</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Mobile</td>
                      <td>Lorem ipsum dolor sit amet.</td>
                      <td>5</td>
                      <td>$80</td>
                      <td>$400</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 offset-md-9">
              <p class="text-right"><b>Sub-total:</b> 2930.00</p>
              <p class="text-right">Discout: 12.9%</p>
              <p class="text-right">VAT: 12.9%</p>
              <hr>
              <h3 class="text-right">USD 2930.00</h3>
            </div>
          </div>
          <hr>
          <div class="hidden-print">
            <div class="text-right">
              <a href="javascript:window.print()" class="btn btn-inverse waves-effect waves-light"><i class="ion-printer"></i></a>
              <a href="#" class="btn btn-primary waves-effect waves-light">Submit</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!-- End row -->
  <!--Form Wizard-->

  <div class="modal fade" id="userDetailModal" tabindex="-1" role="dialog" aria-labelledby="userDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userDetailModalLabel">Assignment Seekar Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xm-9">
              <small>
                <span>
                  <b>Apply Date :</b>
                  <a class="ng-binding">{{showUser.ApplyDate}}</a>
                </span>
                <div class="clearfix"></div>
                <span>
                  <b>Name :</b>
                  <a class="ng-binding">{{showUser.AuthorizedPersonName}}</a>
                </span>
                <div class="clearfix"></div>
                <span>
                  <b>Company Name :</b>
                  <a class="ng-binding">{{showUser.CompanyName}}</a>
                </span>
              </small>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xm-3">
              <!--{{showUser.CompanyLogo}}-->
              <img src="PHP/CompanyLogo/5a69edb16a30e.png" style="max-width: 60px;">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="termsNConditionModal" tabindex="-1" role="dialog" aria-labelledby="termsNConditionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="termsNConditionLabel">Terms & Conditions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="checkbox" ng-model="selectedBidder.assignmentTermsAgree" style="border:none;" id="checkbox1-{{selectedBidder.UserID}}" />
          <label style="margin: 0 20px 0 0;">I Agree</label>
          <button type="button" ng-click="SaveAssignmentTermsAgreeCondition()" class="btn btn-secondary" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="projectContractModal" tabindex="-1" role="dialog" aria-labelledby="projectContractLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="projectContractLabel">Contract Document</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="checkbox" ng-model="selectedBidder.assignmentContractAgree" style="border:none;" id="checkbox2-{{selectedBidder.UserID}}" />
          <label style="margin: 0 20px 0 0;">I Agree</label>
          <button type="button" ng-click="SaveAssignmentContractAgreeCondition()" class="btn btn-secondary" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  function Show_divMilestoneStatus() {
    document.getElementById("Div_ShowProjectDescription").style.display = "none";
    document.getElementById("div_ShowProjectMilestoneStatus").style.display = "block";
    document.getElementById("div_ShowProjectInvoiceBilling").style.display = "none";
  }

  function show_divProjectDescription() {
    document.getElementById("Div_ShowProjectDescription").style.display = "block";
    document.getElementById("div_ShowProjectMilestoneStatus").style.display = "none";
    document.getElementById("div_ShowProjectInvoiceBilling").style.display = "none";

  }

  function Show_divInvoiceBilling() {
    document.getElementById("Div_ShowProjectDescription").style.display = "none";
    document.getElementById("div_ShowProjectMilestoneStatus").style.display = "none";
    document.getElementById("div_ShowProjectInvoiceBilling").style.display = "block";
  }
</script>

<script src="assets\plugins\jquery.steps\js\jquery.steps.min.js" type="text/javascript"></script>
<script type="text/javascript" src="assets\plugins\jquery-validation\js\jquery.validate.min.js"></script>
<!--wizard initialization-->
<script src="assets\pages\jquery.wizard-init.js" type="text/javascript"></script>

<script type="text/javascript" src="assets\pages\jquery.form-advanced.init.js"></script>
<script src="assets\plugins\bootstrap-tagsinput\js\bootstrap-tagsinput.min.js"></script>

<!-- Required datatable js -->
<script src="assets\plugins\datatables\jquery.dataTables.min.js"></script>
<script src="assets\plugins\datatables\dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#datatable').DataTable({
      "ordering": false,
      "bFilter": false,
      "bLengthChange": false,
    });

    $('#datatable1').DataTable({
      "ordering": false,
      "info": false,
      "pageLength": 5,
      "bFilter": false,
      "bLengthChange": false,
    });
    //Buttons examples
    //var table = $('#datatable-buttons').DataTable({
    //    lengthChange: false,
    //    buttons: ['copy', 'excel', 'pdf']
    //});

    //table.buttons().container()
    //        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
  });
</script>
