﻿<div class="container" ng-controller="ClientDashboardController" ng-init="getAllJobList();getProjectList();">

    <style>
        /******************************************
        PRICING
        ******************************************/

        .pricing-box {
            background-color: #fff;
            border: 1px solid #fff;
        }

        .pricing-box sub {
            font-size: 16px;
            vertical-align: super;
        }

        .pricing-box h3 {
            background-color: #1a2b3d;
            font-size: 16px;
            color: #ffffff !important;
            padding: 30px 0 !important;
            margin: 0 !important;
        }

        .pricing-box i {
            padding: 0 10px 0 0;
            vertical-align: middle;
        }

        .pricing-price p {
            background: #0d1e30;
            color: #fff;
            display: block;
            font-size: 50px;
            font-weight: bold;
            margin: 0;
            padding: 40px 0;
        }

        .pricing-box .pricing-desc p {
            padding: 30px 20px;
            border: 1px solid #ededed;
            background-color: #ffffff;
            margin: 0;
            font-size: 15px;
        }

        .pricing-box .panel-body {
            border-left: 1px solid #ededed !important;
            border-right: 1px solid #ededed !important;
        }

        .pricing-box .panel-body p {
            font-size: 13px;
            line-height: 24px;
            padding: 0;
        }

        .pricing-footer {
            margin-top: 0;
            padding: 0;
            background: #ecf0f1;
        }

        .pricing-footer .btn {
            border-radius: 0;
            padding: 15px 30px;
        }

        .pricing-box .panel-group .panel-heading+.panel-collapse>.panel-body,
        .pricing-box .panel-group .panel-heading+.panel-collapse>.list-group,
        .pricing-box .panel-group .panel {
            border: 0 none;
            margin-bottom: 0;
        }

        .pricing-box .panel-group .panel-heading h4 {
            font-size: 14px;
            background-color: #ffffff;
            font-weight: 500;
            box-shadow: none !important;
            border-bottom: 0 solid #e9ecef;
            border-left: 1px solid #e9ecef;
            border-right: 1px solid #e9ecef;
            line-height: 1;
            margin: 0 !important;
            padding: 20px 0;
            text-transform: capitalize;
        }

        .pricing-box .panel-default>.panel-heading {
            background-color: #ecf0f1;
            border: 0 !important;
            line-height: 1;
            padding: 0;
            text-align: center;
        }

        .pricing-box .panel-default h4 {
            padding: 0;
        }

        .pricing-box .panel-group {
            margin-bottom: 0;
        }
    </style>

    <!--<div class="row">
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="widget-bg-color-icon card-box">
                <div class="bg-icon pull-left">
                    <img src="assets\images\icon\total jobs.png" alt="image" class="img-fluid rounded-circle" width="70">
                </div>


                <div class="text-right">
                    <h3 class="text-dark">
                        <span class="counter">{{TotalJob}} </span>
                    </h3>
                    <p class="text-muted mb-0">Total Jobs</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="widget-bg-color-icon card-box">
                <div class="bg-icon  pull-left">
                    <img src="assets\images\icon\total candidates.png" alt="image" class="img-fluid rounded-circle" width="70">
                </div>
                <div class="text-right">
                    <h3 class="text-dark">
                        <span class="counter">{{NumberOFCandidate}}</span>
                    </h3>
                    <p class="text-muted mb-0">Total Candidates</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="widget-bg-color-icon card-box">
                <div class="bg-icon  pull-left">
                    <img src="assets\images\icon\total Project.png" alt="image" class="img-fluid rounded-circle" width="70">
                </div>
                <div class="text-right">
                    <h3 class="text-dark">
                        <span class="counter">{{TotalProject}}</span>
                    </h3>
                    <p class="text-muted mb-0">Total Assignments</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="widget-bg-color-icon card-box">
                <div class="bg-icon pull-left">
                    <img src="assets\images\icon\total bidder.png" alt="image" class="img-fluid rounded-circle" width="70">
                </div>
                <div class="text-right">
                    <h3 class="text-dark">
                        <span class="counter">20</span>
                    </h3>
                    <p class="text-muted mb-0">Total Bidders</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>-->

    <div class="row" ng-show="UserRoleName == 'Client' || UserRoleName == 'AssignmentSeeker'">
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="widget-bg-color-icon card-box">
                <div class="bg-icon  pull-left">
                    <img src="assets\images\icon\total Project.png" alt="image" class="img-fluid rounded-circle" width="70">
                </div>
                <div class="text-right">
                    <h3 class="text-dark">
                        <span class="counter">{{TotalProject}}</span>
                    </h3>
                    <p class="text-muted mb-0">Total Assignments</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="widget-bg-color-icon card-box">
                <div class="bg-icon pull-left">
                    <img src="assets\images\icon\total bidder.png" alt="image" class="img-fluid rounded-circle" width="70">
                </div>
                <div class="text-right">
                    <h3 class="text-dark">
                        <span class="counter">{{TotalBidder}}</span>
                    </h3>
                    <p class="text-muted mb-0">Total Bidders</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="widget-bg-color-icon card-box">
                <div class="bg-icon pull-left">
                    <img src="assets\images\icon\total jobs.png" alt="image" class="img-fluid rounded-circle" width="70">
                </div>


                <div class="text-right">
                    <h3 class="text-dark">
                        <span class="counter">{{TotalJob}} </span>
                    </h3>
                    <p class="text-muted mb-0">Total Jobs</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="widget-bg-color-icon card-box">
                <div class="bg-icon  pull-left">
                    <img src="assets\images\icon\total candidates.png" alt="image" class="img-fluid rounded-circle" width="70">
                </div>
                <div class="text-right">
                    <h3 class="text-dark">
                        <span class="counter">{{NumberOFCandidate}}</span>
                    </h3>
                    <p class="text-muted mb-0">Total Candidates</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-show="UserRoleName == 'Client' || UserRoleName == 'AssignmentSeeker'" class="col-lg-12 col-xl-6">
            <div class="card-box">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="assets\images\icon\post project.png" alt="image" class="img-fluid rounded-circle" width="70">
                        <div class="clearfix">&nbsp;</div>
                        <a href="#ProjectPost">
                            <button type="button" class="btn btn-info btn-rounded waves-effect waves-light">Post Assignment</button>
                        </a>
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="assets\images\icon\search bidder.png" alt="image" class="img-fluid rounded-circle" width="70">
                        <div class="clearfix">&nbsp;</div>
                        <a href="#SearchAssignmentSeekers">
                            <button type="button" class="btn btn-pink btn-rounded waves-effect waves-light">Search Bidder</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-around">
                <div class="col-sm-5">
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary wow animated progress-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </div>
            </div> -->
        <div class="col-lg-12 col-xl-6">
            <div class="card-box">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="assets\images\icon\post job.png" alt="image" class="img-fluid rounded-circle" width="70">
                        <div class="clearfix">&nbsp;</div>
                        <a href="#jobpost">
                            <button type="button" class="btn btn-info btn-rounded waves-effect waves-light">Post Job</button>
                        </a>
                    </div>
                    <!--<div class="col-md-5 text-center">
                        <img src="assets\images\icon\search  project.png" alt="image" class="img-fluid rounded-circle" width="70">

                        <div class="clearfix">&nbsp;</div>
                        <a href="#SearchProject">
                            <button type="button" class="btn btn-success btn-rounded waves-effect waves-light">Search Assignment</button>
                        </a>
                    </div>-->
                    <div class="col-md-6 text-center">
                        <img src="assets\images\icon\search candidates.png" alt="image" class="img-fluid rounded-circle" width="70">
                        <div class="clearfix">&nbsp;</div>
                        <a href="#SearchCandidate">
                            <button type="button" class="btn btn-pink btn-rounded waves-effect waves-light">Search Candidate</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-show="UserRoleName == 'Client' || UserRoleName == 'AssignmentSeeker'" class="col-6">
            <div class="portlet">
                <!-- /primary heading -->
                <div class="portlet-heading">
                    <h3 ng-if="UserRoleName == 'AssignmentSeeker'" class="portlet-title text-dark text-uppercase">
                        Posted Assignment
                    </h3>
                    <h3 ng-if="UserRoleName == 'Client'" class="portlet-title text-dark text-uppercase">
                        Assignment
                    </h3>
                    <div class="portlet-widgets">
                        <a href="javascript:;" data-toggle="reload">
                            <i class="ion-refresh"></i>
                        </a>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2">
                            <i class="ion-minus-round"></i>
                        </a>
                        <span class="divider"></span>
                        <a href="#" data-toggle="remove">
                            <i class="ion-close-round"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="portlet2" class="panel-collapse collapse show">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-hover mails m-0 table table-actions-bar">
                                <thead>
                                    <tr>
                                        <th width="10%"></th>
                                        <th width="65%">Assignment Name</th>
                                        <th width="15%">Status</th>
                                        <th width="10%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="x.CompleteFlag !== '5'" ng-repeat="x in ProjectList">
                                        <td>
                                            <img src="assets\images\users\avatar-6.jpg" alt="contact-img" title="contact-img" class="rounded-circle thumb-sm">
                                        </td>
                                        <td>
                                            {{x.ProjectName}}
                                        </td>
                                        <td ng-show="x.AssignmentAprrovedstatus == 'No'">
                                            <span class="label label-info" >Waiting For Approval</span>
                                        </td>
                                        <td ng-show="x.AssignmentAprrovedstatus == 'Yes'">
                                            <span class="label label-info" >Approve</span>
                                        </td>
                                        <td>
                                            <button  type="button" class="btn btn-info btn-rounded waves-effect waves-light" style="font-size: 14px" title="View Details" ng-click="getProjectID(x)">
                                                View Details
                                            </button>
                                        </td>
                                        <!--ng-show="x.NumberOFCandidate_Applied > 0
                                            <td ng-show="x.NumberOFCandidate_Applied == 0">
                                            <a href class="table-action-btn btn-info" title="View Details" ng-click="info()">
                                                <i class="ion-eye"></i>
                                            </a>
                                        </td>-->
                                    </tr>

                                </tbody>
                            </table>
                            <hr>
                            <div class="form-group text-center" style="margin-bottom: 0px">
                                <a href="#ViewAllProjects">
                                    <b>View All</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="UserRoleName == 'AssignmentSeeker'" ng-init="getAssignedProjectList()" class="col-6">
            <div class="portlet">
                <!-- /primary heading -->
                <div class="portlet-heading">
                    <h3 class="portlet-title text-dark text-uppercase">
                       My Assignment
                    </h3>
                    <div class="portlet-widgets">
                        <a href="javascript:;" data-toggle="reload">
                            <i class="ion-refresh"></i>
                        </a>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2">
                            <i class="ion-minus-round"></i>
                        </a>
                        <span class="divider"></span>
                        <a href="#" data-toggle="remove">
                            <i class="ion-close-round"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="portlet2" class="panel-collapse collapse show">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-hover mails m-0 table table-actions-bar">
                                <thead>
                                    <tr>
                                        <th width="10%"></th>
                                        <th width="65%">Assignment Name</th>
                                        <th width="15%">Status</th>
                                        <th width="10%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="x.CompleteFlag !== '5'" ng-repeat="x in AssignedProjectList track by $index">
                                        <td>
                                            <img src="assets\images\users\avatar-6.jpg" alt="contact-img" title="contact-img" class="rounded-circle thumb-sm">
                                        </td>
                                        <td>
                                            {{x.cleintinfo[$index].ProjectName}}
                                        </td>
                                        <td ng-show="x.AssignmentAprrovedstatus == 'No'">
                                            <span class="label label-info">Waiting For Approval</span>
                                        </td>
                                        <td ng-show="x.AssignmentAprrovedstatus == 'Yes'">
                                            <span class="label label-info" >Approve</span>
                                        </td>
                                        <td>
                                            <button  type="button" class="btn btn-info btn-rounded waves-effect waves-light" style="font-size: 14px" title="View Details" ng-click="showAssignedProject(x)">
                                                View Details
                                            </button>
                                        </td>
                                        <!--ng-show="x.NumberOFCandidate_Applied > 0
                                            <td ng-show="x.NumberOFCandidate_Applied == 0">
                                            <a href class="table-action-btn btn-info" title="View Details" ng-click="info()">
                                                <i class="ion-eye"></i>
                                            </a>
                                        </td>-->
                                    </tr>

                                </tbody>
                            </table>
                            <hr>
                            <div class="form-group text-center" style="margin-bottom: 0px">
                                <a href="#ViewAllProjects">
                                    <b>View All</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="portlet">
                <!-- /primary heading -->
                <div class="portlet-heading">
                    <h3 class="portlet-title text-dark text-uppercase">
                        Jobs
                    </h3>
                    <div class="portlet-widgets">
                        <a href="javascript:;" data-toggle="reload">
                            <i class="ion-refresh"></i>
                        </a>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion1" href="javascript;">
                            <i class="ion-minus-round"></i>
                        </a>
                        <span class="divider"></span>
                        <a href="javascript;" data-toggle="remove">
                            <i class="ion-close-round"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="portlet3" class="panel-collapse collapse show">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-hover mails m-0 table table-actions-bar">
                                <thead>
                                    <tr>
                                        <th width="10%"></th>
                                        <th width="65%">Job Title</th>
                                        <th width="15%">Status</th>
                                        <th width="10%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="active" ng-repeat="x in JobList">
                                        <td>
                                            <img src="assets\images\users\avatar-2.jpg" alt="contact-img" title="contact-img" class="rounded-circle thumb-sm">
                                        </td>
                                        <td>
                                            {{x.JobTitle}}
                                        </td>

                                        <td ng-show="x.JobAprrovedstatus == 'No'">
                                            <span class="label label-info" >Waiting For Approval</span>
                                        </td>
                                        <td ng-show="x.JobAprrovedstatus == 'Yes'">
                                            <span class="label label-info" >Approve</span>
                                        </td>
                                        <td>
                                            <button  type="button" class="btn btn-info btn-rounded waves-effect waves-light" style="font-size: 14px" title="View Details" ng-click="viewjob(x.JobPostID,x.JobTitle,x.NoOfVacancy,x.JobPostDate)">
                                               View  Details
                                            </button>
                                        </td>
                                        <!--
                                            ng-show="x.NumberOFCandidate_Applied > 0
                                            <td ng-show="x.NumberOFCandidate_Applied == 0">
                                            <a href class="table-action-btn btn-info" title="View Details" ng-click="info_job()">
                                                <i class="ion-eye"></i>
                                            </a>
                                        </td>-->
                                    </tr>


                                </tbody>
                            </table>
                            <hr>
                            <div class="form-group text-center" style="margin-bottom: 0px">
                                <a href="#ViewAllJobs">
                                    <b>View All</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>

    <!-- Modal -->
    <div id="pricingplan1" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="text-center">Pricing & Plan</h4>
        </div> -->
                <div class="modal-body">
                    <div class="section wb" style="padding: 20px 20px !important;">
                        <!-- <div class="section-title text-center clearfix">

                              <p class="lead">Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla mauris iaculis. Erat eget vitae malesuada, tortor tincidunt porta lorem lectus.</p>
                          </div> -->

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row pricing-tables text-center">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="pricing-box">
                                            <div class="pricing-header">
                                                <h3>
                                                    <i class="icon icon-flag"></i>Free Listing</h3>
                                            </div>
                                            <div class="pricing-price">
                                                <p>Free</p>
                                            </div>
                                            <!-- end price -->
                                            <div class="pricing-desc text-center">
                                                <p>Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse
                                                    vel, sed quam nulla mauris iaculis.</p>
                                            </div>
                                            <!-- end desc -->
                                            <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Submit a free project.</a>
                                                        </h4>
                                                    </div>
                                                    <!-- end heading -->
                                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                                terry richardson ad squid. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end panel -->
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingTwo">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">Premium Support</a>
                                                        </h4>
                                                    </div>
                                                    <!-- end heading -->
                                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                        <div class="panel-body">
                                                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                                terry richardson ad squid. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end panel-group -->
                                            <div class="pricing-footer text-center">
                                                <a href="#AssignmentSeekerReg" onclick="removeoverlay()" data-scroll="" class="btn btn-primary btn-block">Register Now</a>
                                            </div>
                                            <!-- end desc -->
                                        </div>
                                        <!-- end pricing-box -->
                                    </div>
                                    <!-- end col -->

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="pricing-box">
                                            <div class="featured">
                                                <span class="oi" data-glyph="star"></span>
                                            </div>
                                            <div class="pricing-header">
                                                <h3>
                                                    <i class="icon icon-flag"></i>Premium Listing</h3>
                                            </div>
                                            <div class="pricing-price">
                                                <p>
                                                    <sub>$</sub>20.99</p>
                                            </div>
                                            <!-- end price -->
                                            <div class="pricing-desc text-center">
                                                <p>Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse
                                                    vel, sed quam nulla mauris iaculis.</p>
                                            </div>
                                            <!-- end desc -->
                                            <div class="panel-group" id="accordion23" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="head1">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion23" href="#callo1" aria-expanded="true" aria-controls="callo1">Submit 10 Project</a>
                                                        </h4>
                                                    </div>
                                                    <!-- end heading -->
                                                    <div id="callo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head1">
                                                        <div class="panel-body">
                                                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                                terry richardson ad squid. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end panel -->
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="head2">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion23" href="#callo2" aria-expanded="true" aria-controls="callo2">Premium Support</a>
                                                        </h4>
                                                    </div>
                                                    <!-- end heading -->
                                                    <div id="callo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head2">
                                                        <div class="panel-body">
                                                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                                terry richardson ad squid. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end panel -->
                                            </div>
                                            <!-- end panel-group -->
                                            <div class="pricing-footer text-center">
                                                <a href="#AssignmentSeekerReg" onclick="removeoverlay()" data-scroll="" class="btn btn-primary btn-block">Register Now</a>
                                            </div>
                                            <!-- end desc -->
                                        </div>
                                        <!-- end pricing-box -->
                                    </div>
                                    <!-- end col -->

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="pricing-box">
                                            <div class="pricing-header">
                                                <h3>
                                                    <i class="icon icon-flag"></i>Business Listing</h3>
                                            </div>
                                            <div class="pricing-price">
                                                <p>
                                                    <sub>$</sub>60.99</p>
                                            </div>
                                            <!-- end price -->
                                            <div class="pricing-desc text-center">
                                                <p>Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse
                                                    vel, sed quam nulla mauris iaculis.</p>
                                            </div>
                                            <!-- end desc -->
                                            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="head11">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#callo11" aria-expanded="true" aria-controls="callo11">Submit Unlimited Projects</a>
                                                        </h4>
                                                    </div>
                                                    <!-- end heading -->
                                                    <div id="callo11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head11">
                                                        <div class="panel-body">
                                                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                                terry richardson ad squid. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end panel -->
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="head21">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#callo22" aria-expanded="true" aria-controls="callo22">Premium Support</a>
                                                        </h4>
                                                    </div>
                                                    <!-- end heading -->
                                                    <div id="callo22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head21">
                                                        <div class="panel-body">
                                                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                                terry richardson ad squid. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end panel -->
                                            </div>
                                            <!-- end panel-group -->
                                            <div class="pricing-footer text-center">
                                                <a href="#AssignmentSeekerReg" onclick="removeoverlay()" data-scroll="" class="btn btn-primary btn-block">Register Now</a>
                                            </div>
                                            <!-- end desc -->
                                        </div>
                                        <!-- end pricing-box -->
                                    </div>
                                    <!-- end col -->
                                </div>
                                <!-- end row -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end section -->
                </div>
                <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
            </div>

        </div>
    </div>

</div>

<script src="assets\plugins\waypoints\lib\jquery.waypoints.min.js"></script>
<script src="assets\plugins\counterup\jquery.counterup.min.js"></script>
<script src="assets\plugins\morris\morris.min.js"></script>
<script src="assets\plugins\raphael\raphael-min.js"></script>
<script src="assets\plugins\jquery-knob\jquery.knob.js"></script>
<script src="assets\pages\jquery.dashboard.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.counter').counterUp({
            delay: 100,
            time: 1200
        });

        $(".knob").knob();

    });

</script>

<script src="assets\plugins\notifyjs\js\notify.js"></script>
<script src="assets\plugins\notifications\notify-metro.js"></script>
